*/
!themes
!/themes/vantage-child/*
!plugins
plugins/plugins.zip
!/plugins/wc-frontend-manager
!/plugins/wc-frontend-manager/*
!/plugins/wc-frontend-manager-groups-staffs
!/plugins/wc-frontend-manager-groups-staffs/*
!/plugins/wc-frontend-manager-ultimate
!/plugins/wc-frontend-manager-ultimate/*
!/plugins/wc-multivendor-membership
!/plugins/wc-multivendor-membership/*