
/*

Table of contents:

1. Miscellaneous improvements
2. Profile menu
3. Member directory
4. Members slider
5. Profile completeness
6. User videos
7. Browser fallbacks
8. Media queries

*/



/* Miscellaneous improvements */

body.responsive a.um-button {
  border-radius: 0 !important;
  box-shadow: none !important;
}

/*** Account (user) page, Photo, My Account, Log-out = do not display My Account and Log-out link***/

.um-misc-ul {
  display: none;
  li {
    display: none;
  }
}

.um-member-name a {
  padding-left: 10px;
  padding-right: 10px;
  line-break: after-white-space;
}


/*** Account (user) page layout***/

.um-misc-with-img {
  position: relative;
  font-size: 18px;
  border-bottom: 0px solid #eee;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 14px;
}


/*** have SEARCH and RESET buttons inline on mobile screen ***/

div.uimob340 .um-search .um-search-submit .um-button {
  display: inline !important;
  margin: 25px !important;
  padding-top: 7px !important;
  padding-bottom: 6px !important;
}

.um-form input[type=text] {
  margin-bottom: 10px !important;
}

.um-friends-m-user-show-all {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin: 3px;
  float: left;
}

.single-um_groups #page-wrapper .um-avatar {
  border-radius: 0!important;
}



/* Profile menu */

h2.um-tabs-single-header {
  display: none;
  margin: 0;
  padding: 0.8em 1em;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

.um-own-profile {
  .um-profile-nav {
    display: none;
  }
  .um-tabs-single-header {
    display: block;
  }
}

.um-notification-b {
  z-index: 101;
  bottom: 18px;
}

/* Member directory */

.um-members.masonry {
  padding-bottom: 0em;
}

.um-members-pagi.um-artmo-pagi, .um-members-pagidrop.um-artmo-pagidrop {
  display: block !important;
}

.um-artmo-pagi .pagi-arrow {
  padding: 0.5em 1em;
  border: 2px solid #ccc;
  border-bottom: 2px solid #ccc !important;
}

div.um-photo img {
  max-height: none !important;
  max-width: 100% !important;
}

.um-profile .um-row-heading {
  margin-bottom: 20px!important;
}

.um-profile-genres {
  margin: 1em 0 2em;
}

.um-page-user .um-form .um-field {
  margin: 2em 0;
}

.um-profile-genres .um-profile-genre-tag {
  padding: 0.5em 0.3em;
  line-height: 1.2em;
  margin: 0.4em 0.4em 0em 0em;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  color: #444;
}

.um-profile-tags {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.um-profile-nav-item span.title {
  text-transform: uppercase;
  font-weight: 400;
}


/* Profile completeness */

.entry-content .um-completeness-widget {
  .um-completeness-steps ~ div a {
    padding: 0.8em 1em;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    &:hover {
      background: #666;
    }
  }
}

.um-completeness-bar span {
  border-radius: 0!important;
}

.um-completeness-done {
  background: #000!important;
}

.um-completeness-progress {
  color: #000!important;
}


/* User videos */


.youtube-videos {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  div.video-single,
  div.video-single-featured {
    flex: 0 0 48%;
    margin: 1%;
    background: #fff;
    .video_thumb {
      position: relative;
      cursor: pointer;
      img {
        transition: filter 0.25s ease-in-out;
        filter: brightness(1);
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
    }
    .video_thumb i {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 4em;
      color: #fff;
      width: 5rem;
      height: 5rem;
      text-align: center;
      line-height: 5rem;
      border: 5px solid #fff;
      transition: background 0.25s ease-in-out;
      &:before {
        margin-left: 0.5rem;
      }
    }
    .video_thumb:hover {
      img {
        filter: brightness(0.8);
      }
      i {
        background: #000;
      }
    }
    .user_name {
      font-size: 1.1em;
      padding: 0 1rem 1.5rem;
    }
    .video_name {
      font-size: 1.3em;
      padding: 1rem 1rem 0.5rem;
      cursor: pointer;
    }
    .video_user_role {
      text-transform: uppercase;
    }
    .video_category {
      margin: 0 1rem 1rem;
      a {
        padding: 0.5rem;
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
      }
    }
  }
  div.video-single-featured .video_name {
      padding: 1rem;
  }
}

.youtube-videos-player-container {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 0.5s ease-in-out;

  &.open {
    opacity: 1;
    pointer-events: all;
    width: 100%;
    height: 100%;
  }

  .youtube-videos-player-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    i {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 60px;
      top: 105px;
      background: #000;
      color: #fff;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
    }
  }

  .youtube-videos-player {
    margin: 150px 60px 60px;
    width: calc(100% - 120px);
    height: calc(100% - 200px);
    box-sizing: border-box;
    background: #000;

    iframe {
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.3);
    }
  }
}

.youtube-videos-preloader {
  width: 100%;
  text-align: center;
  margin: 1em 0;
  font-size: 3rem;
  .ion-load-d {
    width: 1em;
    height: 1em;
    animation: preloader-rotate 2s infinite;
  }
  .no-results {
    font-size: 16px;
  }
}

.um-profile-nav {
	background: #000;
}

.um-button {
    border-radius: 0px!important;
}

.um-artmo-pagi .pagi-arrow {
	padding: 0.5em 1em;
	background: #000;
  	color: #fff!important;
}

.um-user-photos-add-link.um-modal-btn,
#um-user-photos-toggle-view-photos-load-more {
   	background: #000;
    color: #fff;
  	border-radius: 0px;
}

.um-artmo-pagi .pagi-arrow:hover,
.um-user-photos-add-link.um-modal-btn:hover,
#um-user-photos-toggle-view-photos-load-more:hover {
	background: #666!important;
  	color: #fff!important;
}

.um-message-buttons .um-message-send {
    border-radius: 0px;
}

/*the button add friend, friend request send, etc. inside the cover photo,
was white on white by default*/


.um .um-friends-coverbtn a.um-button,
.um .um-followers-btn a.um-button {
    background: #000 !important;
    color: #fff !important;
    margin: 0!important;
    width: 100%!important;
    &:hover {
      background: #666 !important;
    }
}


.um .um-member .um-members-follow-btn a,
.um a.um-unfollow-btn.um-button,
.um a.um-unfriend-btn.um-button.um-alt,
.um a.um-friend-pending-btn.um-button.um-alt{
  	background: #666!important;
  	color: #fff!important;
}

.um .um-member .um-members-follow-btn a:hover,
.um a.um-unfollow-btn.um-button:hover,
.um a.um-unfollow-btn.um-button.um-alt:hover,
.um a.um-friend-pending-btn.um-button.um-alt:hover {
	  background: #000!important;
}

.um-28781.um .um-profile-headericon a.um-profile-edit-a:hover {
    color: #666;
}

.um .um-tip:hover,
.um .um-field-radio.active:not(.um-field-radio-state-disabled) i,
.um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i,
.um .um-member-name a:hover,
.um .um-member-more a:hover,
.um .um-member-less a:hover,
.um .um-cover-add:hover,
.um .um-profile-subnav a.active,
.um .um-item-meta a,
.um-account-name a:hover,
.um-account-nav a.current,
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon,
.um-dropdown li a:hover,
i.um-active-color,
span.um-active-color
{
    color: #000!important;
}

.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.um .um-members-pagi span.current,
.um .um-members-pagi span.current:hover,
.um .um-profile-nav-item.active a,
.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current,
div.uimob800 .um-account-side li a.current:hover
{
    background: #000!important;
}

.um .um-field-group-head:hover,
.picker__footer,
.picker__header,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted,
.picker__list-item:hover,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted,
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
    background: #666!important;
}

.um input[type=submit]:disabled:hover {
    background: #000!important;
}

.um .um-button.um-alt, .um input[type=submit].um-button.um-alt {
    background: #666!important;
}

.um input[type=submit].um-button.um-alt:focus,
.um a.um-button.um-disabled.um-alt:hover,
.um a.um-button.um-disabled.um-alt:focus,
.um a.um-button.um-disabled.um-alt:active,
.um .um-member a.um-button.um-unfriend-btn:hover {
    background: #000!important;
}

.um .um-button.um-alt:hover, .um input[type=submit].um-button.um-alt:hover {
    background: #000!important;
}

.um a.um-link {
    color: #000!important;
}

.um input[type=submit].um-button:hover {
    background-color: #666!important;
  	color: #fff;
}

.um-user-photos-add .um-user-photos-add-link {
  	background: #000;
    color: #fff;
}

.um-member-card .um-button.um-alt.um-friend-btn,
.um-member-card .um-button.um-login-to-friend-btn,
.um-profile-body .um-button.um-alt.um-friend-btn,
.um-profile-body .um-button.um-login-to-friend-btn,
.um-profile-body .um-button.um-login-to-follow-btn,
.um .um-member .um-member-card .um-members-follow-btn a.um-button.um-alt,
.um .um-member .um-profile-body .um-members-follow-btn a.um-button.um-alt{
	background: #000!important;
  	color: #fff!important;
}

.um-member-card .um-button.um-alt.um-friend-btn:hover,
.um-member-card .um-button.um-login-to-friend-btn:hover,
.um-profile-body .um-button.um-alt.um-friend-btn:hover,
.um-profile-body .um-button.um-login-to-friend-btn:hover,
.um-profile-body .um-button.um-login-to-follow-btn:hover,
.um .um-member .um-member-card .um-members-follow-btn a.um-button.um-alt:hover,
.um .um-member .um-profile-body .um-members-follow-btn a.um-button.um-alt:hover,
.um a.um-button.um-do-search:hover {
	background: #666!important;
  	color: #fff!important;
}

.um a.um-link:hover,
.um a.um-link-hvr:hover {
    color: #666!important;
}

.um-followers-rc a span {
 	color: #444!important;
}

.um-message-item.left_m .um-message-item-content {
	background-color: #666666!important;
}

.um-message-footer {
 	background: #e7e9ec!important;
    border-top: #e5e5e5!important;
}

.um-message-footer .um-message-textarea textarea, div.um div.um-form .um-message-footer .um-message-textarea textarea {
	border: 2px solid rgba(220, 220, 220, 0.3) !important;
}

.um-message-footer .um-message-textarea textarea:focus, div.um div.um-form .um-message-footer .um-message-textarea textarea:focus {
  	border: 2px solid rgba(220, 220, 220, 0.8) !important;
}

.um-message-send, .um-message-send.disabled:hover {
	background-color: #000!important;
}

 .um .um-profile-nav-item.active a {
 	background-color: #666!important;
}

.um-profile-navbar.um-messaging-bar .um-messaging-btn {
 	margin-left: 10px;
}

.um input[type=submit].um-button:hover,
.um a.um-button:hover {
	color: #fff;
}

.um-user-photos-modal-content .um-modal-btn {
	color: #fff;
  	border-radius: 0;
  	border: 0;
}

.um-user-photos-modal-content .um-modal-btn:hover {
	background-color: #666!important;
 	color: #fff;
}

.um-notification-live-feed-inner,
.um-notification-shortcode {
  .um-notification-ajax .um-notification {
    i {
      color: #666!important;
    }
  }
}
.um-search.um-video-search {
  padding: 20px;
  .um-search-filter {
    padding: 0 5px 30px 5px;
    width: 20%;
  }
}

.um-search-filter select,
.um-search-filter input {
  width: 100%;
  border: 2px solid #ddd;
  height: 40px;
  padding: 0 0 0 12px;
  color: #666;
  font-size: 15px;
}

.um-search-filter select {
  background: url("data:image/svg+xml;utf8,<svg width='20' height='20' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1.5L9 9.5L17 1.5' stroke='%23666666' stroke-width='2'/></svg>") no-repeat;
  background-color: #fff;
  background-size: 16px;
  background-position: calc(100% - 12px) center;
  background-repeat: no-repeat;
}

.um-search.um-video-search button,
.um-search.um-video-search .videos-reset {
  background: #222;
  border: 0;
  border-radius: 0;
  color: #fff;
  line-height: 11px;
  display: inline-block;
  padding: 12px 20px;
  margin: 0 5px;
  width: 100px;
  box-sizing: border-box;
  vertical-align: bottom;
  &:hover {
    background: #666;
  }
}


/*
	- Radio & Checkboxes
*/
.um-field-checkbox-option, .um-field-radio-option {
  text-align: left;
  text-transform: capitalize;
}

.um-profile-navbar {
  display: flex;
  .share-btns-container {
    margin-bottom: 0;
    flex: 1;
    justify-content: flex-end;
  }
  .share-btns-trig {
    text-transform: uppercase;
  }
  .um-messaging-btn {
    display: flex;
    margin-left: 10px;
    a {
      line-height: 20px!important;
      text-transform: uppercase!important;
      font-size: 14px;
    }
  }
}

.um-activity-share {
  .share-btns-container {
    margin-bottom: 0;
    .share-btns-trig {
      background: transparent;
      color: #000;
      font-size: 13px;
    }
    .share-btn {
      margin-left: 0;
      a i {
        color: #fff;
      }
    }
  }
}





/* Browser fallbacks */

.ie {
  .members-slider {
    .members-slider-container {
      position: relative;
    }
    .um-member {
      width: 15.33%;
      flex: 0 0 15.33%;
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
  }
}

/* Media queries */


@media screen and (max-width: 500px) {

  div.uimob500 .um-profile-nav-item a.uimob500-show {
    padding: 10px!important;
  }

  div.uimob500 .um-profile-nav-art_collection a.uimob500-show {
    display: flex;
  }

  div.uimob500 .um-profile-nav-art_collection .uimob500-show span {
    display: inline-block!important;
    font-size: 11px;
  }

  .um-profile-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .um-followers-rc {
      margin-bottom: 2em;
    }
    .share-btns-container.share-btns-post {
      justify-content: center;
      flex: 0 0 100%;
      margin-bottom: 1em;
    }
    .um-messaging-btn {
      flex: 0 0 100%;
      margin: 0;
      display: flex;
      justify-content: left;
      margin-bottom: 1em;
    }
  }



}

@media screen and (max-width: 600px) {

  .um-profile-meta {
    display: flex;
    flex-direction: column;

    .um-coverbtns {
      display: inline-flex;
      justify-content: space-evenly;
      align-items: stretch;
      margin-top: 2em;
      order: 5;
    }

    .um-followers-btn {
      margin: 0;
      display: flex;
      width: 125px;
    }

    .um-friends-coverbtn {
      display: flex;
      margin-left: 10px;

      a {
        line-height: 14px!important;
      }
    }

    .um-friends-nocoverbtn {
      display: none!important;
    }

    .um-friends-coverbtn {
      display: flex!important;
      top: 0!important;
      bottom: 0!important;
      position: relative!important;
      margin-left: 10px!important;
    }

  }
  .um-profile-navbar.um-messaging-bar .um-messaging-btn {
    margin-left: 0px!important;
  }
}

@media screen and (max-width: 767px) {
  .members-slider {
    margin-bottom: 30px;

  .members-slider-container {
    .um-member-cover {
      display: none;
    }
    .um-member-photo {
      padding: 0px;
      flex: 1;
      margin: 10px 0 0;
      font-size: 0px;
      line-height: 0;
      max-height: 90px;
      img {
        border: 1px solid #ccc;
        object-fit: cover;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
      }
    }
    .um-member {
      float: none;
      flex: 0 0 calc(50% - 16px);
      margin: 0%;
      background: #fff;
      border: 0px;
      margin: 0px 8px 0px 8px;
      border: 1px solid #fff;
      display: flex;
      flex-direction: column;
    }
    .um-member-card {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }
    .um-member-name a {
      font-weight: 400;
      padding: 0;
      line-height: 0;
    }
    .um-member-meta {
      padding: 0px 10px;
      border-top: 0px;
    }
    .um-member-follow {
      display: none;
    }
  }
    .members-slider-nav .slider-nav-bck,
    .members-slider-nav .slider-nav-fwd {
      margin: 0px 8px;
    }
    .members-slider-header {
      font-size: 1.5em;
      color: #fff;
      margin: 5px 0px 10px;
    }
  }

  div.um-search.um-video-search {
    padding: 15px 0 0;
  }

  div.um-search.um-video-search form {
    .um-search-filter {
      width: 100%;
      padding: 0 15px 15px;
    }
  }

  .youtube-videos-container .youtube-videos-player-container .youtube-videos-player {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    iframe {
      height: auto;
      min-height: 250px;
    }
  }

  .youtube-videos-container .youtube-videos-player-container .youtube-videos-player-overlay {
    z-index: 0;
    width: 100%;
    height: 0;
    i {
      right: 8px;
    }
  }

  .youtube-videos {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    div.video-single,
    div.video-single-featured {
      flex: 0 0 calc(100% - 30px);
      margin: 25px auto 0;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .members-slider .members-slider-container .um-member {
    flex: 0 0 24%;
  }
}

@media screen and (min-width: 767px) {

  .um-profile .um-profile-meta .um-coverbtns {
    position: absolute;
    right: 10px;
    bottom: 10px;
    top: -50px;
    max-width: 500px;
    display: flex;
    justify-content: flex-end;
    .um-followers-btn {
      margin-right: 10px;
    }
    .um-friends-coverbtn {
      top: 0;
      right: 0;
      position: relative;
    }
  }
}


@keyframes preloader-rotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
